@charset "utf-8";
/**
 * base style
 */
* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: bottom;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4em;
}
/**
 * base style
 */
.container {
  padding: 10px;
}
section >h1 {
  padding: 2px 8px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  background: #2070aa;
  color: #fff;
}
section [class*="__nav"] ul {
  margin: 0;
}
section [class*="__nav"] ul li {
  display: inline-block;
}
article {
  padding: 14px;
  background: #f4f4f4;
}
article + article {
  margin-top: 14px;
}
article h1 {
  margin-bottom: 10px;
  font-size: 1.4rem;
}
.text {
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.4;
}
.text:first-child {
  margin: 0;
}
